@{
    ViewData["Title"] = "Home Page";
}



<h2>Formulario de Registro</h2>
<form asp-action="Registrar" asp-controller="Home">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required><br><br>
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" min="1" max="120" required><br><br>
    <label for="aniosJuego">Años de experiencia en juegos:</label>
    <input type="number" id="aniosJuego" name="aniosJuego" min="0" required><br><br>
    <label for="frecuenciaJuego">Frecuencia de juego:</label>
    <select id="frecuenciaJuego" name="frecuenciaJuego" required>
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="Diario">Diario</option>
        <option value="Semanal">Semanal</option>
        <option value="Mensual">Mensual</option>
    </select><br><br>
    <button type="submit">Enviar</button>
</form>
<p>@ViewData["mensaje"]</p>
